<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">
<th:block layout:fragment="css">
</th:block>
<th:block layout:fragment="script">
</th:block>
<div layout:fragment="content">
    <div class="jumbotron jumbotron-fluid bg-light p-3 mt-1">
        <div class="container text-center">
            <h3 th:if="${#strings.isEmpty(searchStr)}" th:text="상품목록"></h3>
            <h3 th:text="${searchStr}"></h3>
            <p class="lead">Product List</p>
        </div>
    </div>
    <hr class="my-4">
    <div th:if="${totalCount > 0}" class="d-flex justify-content-start ml-5 pl-4 m-3">
        <h5 th:text="'총'+' '+${totalCount}+'건의'+' '+'상품이'+' '+'검색되었습니다'"></h5>
    </div>
    <div class="container">
        <div class="row">
            <div th:each="product: ${products}" th:if="${not #lists.isEmpty(products)}" class="col-lg-3 col-md-6 mb-4">
                <div class="card h-100 border-0">
                    <a href="#"><img class="card-img-top rounded" th:src="'/product/images/' + ${product.fileImages[0].id}" alt=""></a>
                    <div class="card-body p-2">
                        <p class="card-title m-2 d-flex justify-content-center">
                            <a th:href="@{/product/view(id=${product.id})}" th:text="${product.name}"></a>
                        </p>
                        <p class="html-editor-bold d-flex justify-content-center m-2" th:text="${#numbers.formatInteger(product.price,3,'COMMA')}+'원'"></p>
                        <div class="d-flex justify-content-center">
                            <a class="cursor-pointer border mr-1 p-1" th:onclick="'javascript:addCart(' + ${product.id} + ','+'1'+')'" th:text="장바구니"></a>
                            <a class="cursor-pointer border ml-1 p-1" th:href="@{/order/directorder(id=${product.id},amount=1)}" th:text="구매하기"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12" th:if="${#lists.isEmpty(products)}">
                <h3>총 0건의 상품이 조회되었습니다</h3>
            </div>
        </div>
    </div>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item disabled">
                <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
            </a>
            </li>
            <li th:classappend="${page == i} ? active : ''" class="page-item" th:each="i : ${#numbers.sequence(1,totalPage)}">
                <a class="page-link" th:href="@{/product/list/(page=${i})}" th:text="${i}"></a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                </a>
            </li>
        </ul>
    </nav>
</div>