<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">
<th:block layout:fragment="css">
</th:block>
<th:block layout:fragment="script">
</th:block>
<div layout:fragment="content">
    <div class="container">
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="http://placehold.it/700x400" class="d-block rounded mx-auto d-block" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="http://placehold.it/700x400" class="d-block rounded mx-auto d-block" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="http://placehold.it/700x400" class="d-block rounded mx-auto d-block" alt="...">
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
    <hr class="my-4">
    <div class="container" th:object="${product}">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h1 class="font-weight-bold" th:text="*{name}"></h1>
                <p class="lead font-weight-bold" th:text="*{#numbers.formatInteger(price,3,'COMMA')}+'원'">
                </p>
            </div>
        </div>
    </div>
    <hr class="my-4">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h2 class="font-weight-bold" th:text="추천상품"></h2>
                </p>
            </div>
        </div>
    </div>
    <form method="get" action="/order/directorder">
    <nav class="fixed-bottom navbar navbar-ligh bg-white border-top">
        <ul class="nav nav-pills nav-fill w-100">
            <li class="align-content-start nav-item cursor-pointer p-2" role="button">
                <div class="input-group rounded border justify-content-center" style="width:170px; height:38px;">
                    <a class="p-1 border-right" th:onclick="'javascript:addWishItem(' + ${product.id} + ')'">
                    <span><i class="fas fa-heart"></i></span>
                </a>
                    <a class="p-1" th:onclick="'javascript:addCart(' + ${product.id} + ')'">
                        <span><i class="fas fa-shopping-cart"></i></span>
                        <span th:text="장바구니담기"></span>
                    </a>
                </div>
            </li>
            <li class="align-content-between nav-item p-2">
                <div class="input-group">
                    <button type="button" th:onclick="'javascript:amountModify(' + ${product.id} + ',\''+'minus'+'\')'" class="input-group-prepend btn border">
                        <span><i class="fas fa-minus"></i></span>
                    </button>
                    <input type="hidden" name="id" th:value="${product.id}">
                    <input type="text" name="amount" value="1" th:id="${product.id}" th:data="${product.id}" class="border text-center" style="width:75px;">
                    <button type="button" th:onclick="'javascript:amountModify(' + ${product.id} + ',\''+'plus'+'\')'" class="input-group-append btn border">
                        <span><i class="fas fa-plus"></i></span>
                    </button>
                </div>
            </li>
            <li class="align-content-center nav-item">
                <button type="button" class="nav-link cursor-pointer mt-2 form-control btn-light border" th:onclick="'javascript:moveUrl('+'2'+')'" th:text="쇼핑계속하기"></button>
            </li>
            <li class="align-content-end nav-item">
                <button type="submit" class="nav-link cursor-pointer mt-2 form-control btn-light border" th:text="구매하기"></button>
            </li>
        </ul>
    </nav>
    </form>
</div>