<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">
<th:block layout:fragment="css">
</th:block>
<th:block layout:fragment="script">
</th:block>
<div layout:fragment="content">
    <div class="jumbotron jumbotron-fluid bg-light p-3 mt-1">
        <div class="container text-center">
            <div class="form-group d-flex justify-content-center">
                <select onchange="selectChange()" id="selectCategory" class="form-control" style="max-width:300px;">
                    <option th:each="category:${categories}" th:value="${category.id}"
                            th:selected="${category.id==selectCategory}" th:text="${category.categoryName}"></option>
                </select>
            </div>
        </div>
    </div>
    <hr class="my-4">
    <div class="container">
        <div class="row">
            <ul class="list-group col-2">
                <li th:each="tag : ${tags}" class="list-group-item" th:text="${tag.tagName}"></li>
            </ul>
            <div class="col-10">
                <div class="row">
                    <div th:each="link: ${links}" th:if="${not #lists.isEmpty(links)}" class="col-4 mb-4">
                        <div class="card mb-4 shadow-sm">
                            <svg class="bd-placeholder-img card-img-top" width="100%" height="225"
                                 xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice"
                                 focusable="false" role="img" aria-label="Placeholder: Thumbnail">
                                <title>Placeholder</title>
                                <rect width="100%" height="100%" fill="#55595c"></rect>
                                <text x="36.5%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
                            </svg>
                            <div class="card-body p-2">
                                <p class="card-title m-2 d-flex">
                                    <a th:href="${link.url}" class="link-title" th:text="${link.title}"></a>
                                <p class="m-2" style="font-size:80%;" th:text="${link.regDate}"></p>
                                </p>
                            </div>
                            <div class="card-body p-3">
                                <th:block th:if="${not #lists.isEmpty(link.tags)}"
                                          th:each="i:${#numbers.sequence(0,#arrays.length(link.tags)-1)}">
                                    <input type="button" class="btn btn-outline-dark btn-sm"
                                           th:value="${link.tags[i].tagName}">
                                </th:block>
                            </div>
                            <div class="card-body p-4">
                                <ul class="nav nav-pills nav-justified">
                                    <li class="nav-item cursor-pointer" >
                                        <i class="fas fa-tag"></i>
                                    </li>
                                    <li class="nav-item cursor-pointer" data-toggle="modal"
                                       th:data-target="'#modal'+${link.id}">
                                        <i class="fas fa-pencil-alt"></i>
                                    </li>
                                    <li class="nav-item cursor-pointer" data-toggle="modal"
                                       data-target="#deleteModal">
                                        <i class="fas fa-trash-alt"></i>
                                    </li>
                                    <!--제목 수정 모달-->
                                    <div class="modal fade" th:id="'modal'+${link.id}" role="dialog">
                                        <div class="modal-dialog">

                                            <!-- Modal content-->
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="title">제목 수정</h5>
                                                    <button type="button" class="close" data-dismiss="modal">&times;
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <form method="post" action="/link/changeTitle">
                                                        <div class="form-group">
                                                            <input type="text" class="form-control" name="title"
                                                                   th:value="${link.title}">
                                                            <input type="hidden" th:value="${link.id}" name="id">
                                                        </div>
                                                        <button type="submit" class="btn btn-outline-primary">수정
                                                        </button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--링크 삭제 모달-->
                                    <div class="modal fade" id="deleteModal" role="dialog">
                                        <div class="modal-dialog">
                                            <!-- Modal content-->
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="title">링크 삭제</h5>
                                                    <button type="button" class="close" data-dismiss="modal">&times;
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <form method="post" action="/link/deleteLink">
                                                        <input type="hidden" th:value="${link.id}" name="id">
                                                        <div class="form-group">
                                                            삭제하시겠습니까?
                                                        </div>
                                                        <button type="submit" class="btn btn-outline-primary">삭제
                                                        </button>
                                                        <button type="button" class="btn btn-outline-dark"
                                                                data-dismiss="modal">취소
                                                        </button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>