<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">
<!-- index.html 고유 CSS 추가 -->
<th:block layout:fragment="css">
</th:block>
<!-- index.html 고유 스크립트 추가 -->
<th:block layout:fragment="script">
</th:block>
<div layout:fragment="content">

    <div class="container">
        <div class="row">
            <div th:each="category: ${categoryList}" th:if="${not #lists.isEmpty(categoryList)}" class="col-lg-3 col-md-6 mb-4">
                <div class="card h-100 border-0">
                    <div class="card-body p-2">
                        <p class="card-title m-2 d-flex justify-content-center">
                            <a th:href="@{/main}" th:text="${category.categoryName}"></a>
                        </p>
                        <p class="m-2" style="font-size:80%;" th:text="${category.account.nickName}"></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-12" th:if="${#lists.isEmpty(categoryList)}">
                <h3>총 0건 >.<</h3>
            </div>
        </div>
    </div>

</div>
</html>