<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<header th:fragment="headerFragment">
    <nav class="navbar pb-3 pt-3 border-bottom navbar-expand-lg navbar-light bg-white fixed-top">
        <div class="container">
            <a class="navbar-brand" href="/main">POUCH</a>
            <button class="navbar-toggler" type="button" data-toggle="slide-collapse" data-target="#navbarResponsive"
                    aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item" sec:authorize="isAuthenticated()">
                        <div class="dropdown-menu-sm-left">
                            <form method="get" class="d-flex" action="/account/search">


                                <div class="d-none" id="search">
                                    <div class="d-flex" >
                                        <select class="rounded" name="searchType" style="height:38px;" id="searchType">
                                            <option value="1" >카테고리</option>
                                            <option value="2">   태그   </option>
                                        </select>
                                        <input type="text" name="searchStr"
                                               class="rounded form-control m-0 mr-2" style="height:38px;" placeholder="검색어를 입력하세요"/>
                                    </div>
                                </div>

                                <a id="search-btn" class="nav-link cursor-pointer"
                                   th:onclick="'javascript:showSearch()'">
                                    <i class="fas fa-search"></i>
                                </a>
                            </form>
                        </div>
                    </li>
                    <li class="nav-item" sec:authorize="isAuthenticated()">
                        <a href="#" class="nav-link">
                            <i class="fas fa-envelope"></i>
                        </a>
                    </li>
                    <li class="nav-item" sec:authorize="isAuthenticated()">
                        <a href="#" th:onclick="'javascript:showModal('+'1'+')'" class="nav-link cursor-pointer"
                           data-toggle="modal">
                            <i class="fas fa-plus"></i>
                        </a>
                    </li>
                    <li clas="nav-item">
                        <a class="nav-link dropdown-toggle cursor-pointer" data-toggle="dropdown">
                            <i class="fas fa-user"></i>
                        </a>
                        <div class="dropdown-menu" style="left:85%;">
                            <a class="dropdown-item" sec:authorize="!isAuthenticated()" th:href="@{/account/login}"
                               th:text="로그인"></a>
                            <a class="dropdown-item" sec:authorize="!isAuthenticated()" th:href="@{/account/join}"
                               th:text="회원가입"></a>
                            <a class="dropdown-item" sec:authorize="isAuthenticated()" th:href="@{/account/category}"
                               th:text="카테고리"></a>
                            <a class="dropdown-item" sec:authorize="isAuthenticated()" th:href="@{/account/setting}"
                               th:text="설정"></a>
                            <a class="dropdown-item" sec:authorize="isAuthenticated()" th:href="@{/account/logout}"
                               th:text="로그아웃"></a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- 공통 모달 박스 -->
    <div class="modal fade" id="urlModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form class="form-horizontal" method="post" action="/crawling/save">
                    <div class="modal-body">
                        <div class="form-group input-group m-0">
                            <label for="categorySelect">Pouch에 항목을 저장해주세요</label>
                        </div>
                        <div class="form-group input-group m-0">
                            <select name="categoryId" class="form-control mb-2" id="categorySelect">
                                <option>카테고리를 선택해주세요</option>
                            </select>
                        </div>
                        <div class="form-group input-group m-0">
                            <input type="text" name="url" maxlength="255" value="" class="form-control m-0"
                                   style="max-width:500px;" placeholder="http://...">
                            <div class="input-group-append">
                                <button class="btn btn-secondary" type="submit">
                                    <i class="fas fa-plus"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $(function () {
            /*$('[data-toggle="slide-collapse"]').on('click', function() {
                $navMenuCont = $($(this).data('target'));
                $navMenuCont.animate({
                    'width': 'toggle'
                }, 350);
                $(".menu-overlay").fadeIn(500);

            });

            $(".menu-overlay").click(function(event) {
                $(".navbar-toggle").trigger("click");
                $(".menu-overlay").fadeOut(500);
            });*/
            $("form").each(function () {
                $(this).validate({
                    rules: {
                        loginPassword: {
                            required: true
                        },
                        passwd: {
                            required: "required"
                        },
                        passwd2: {
                            required: true,
                            equalTo: '#passwd'
                        },
                    }, messages: {},
                    highlight: function (element, errorClass, validClass) {
                        $(element.form).find("input[id=" + element.id + "]")
                            .addClass("error");
                        $(element.form).find("input[id=" + element.id + "]")
                            .removeClass("success");
                        $(element.form).find("label[id=" + element.id + "-error" + "]")
                            .remove();
                    },
                    unhighlight: function (element, errorClass, validClass) {
                        $(element.form).find("input[id=" + element.id + "]")
                            .removeClass("error");
                        $(element.form).find("input[id=" + element.id + "]")
                            .addClass("success");
                    },
                    success: function () {

                    },
                    submitHandler: function (frm) {
                        frm.submit();
                    },
                });
            });
            $('input[type="text"]').each(function () {
                $(this).rules('add', {
                    required: true,
                    messages: {
                        required: false
                    }
                });
            });
            $('input[type="password"]').each(function () {
                $(this).rules('add', {
                    required: true,
                    messages: {
                        required: false
                    }
                });
            });
        })
    </script>
    <!-- <a th:href="@{/index}">index 페이지 이동</a>-->
</header>
</html>