<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">
<th:block layout:fragment="css">
</th:block>
<th:block layout:fragment="script">
</th:block>
<div layout:fragment="content">
    <div class="jumbotron jumbotron-fluid bg-light p-3 mt-1">
        <div class="container text-center">
            <h3 th:text="위시리스트"></h3>
            <p class="lead">My WishList</p>
        </div>
    </div>
    <hr class="my-4">
    <div class="container">
        <div class="row">
            <div th:each="product: ${products}" th:if="${not #lists.isEmpty(products)}" class="col-lg-3 col-md-6 mb-4">
                <div class="card h-100 border-0">
                    <button type="button" th:onclick="'javascript:deleteWishItem(' + ${product.id} + ')'" class="close btn-delete" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <a th:href="@{/product/view(id=${product.id})}"><img class="card-img-top rounded" th:src="'/product/images/' + ${product.fileImages[0].id}" alt=""></a>
                    <div class="card-body p-2">
                        <p class="card-title m-2 d-flex justify-content-center">
                            <span th:text="${product.name}"></span>
                        </p>
                        <p class="html-editor-bold d-flex justify-content-center m-2" th:text="${#numbers.formatInteger(product.price,3,'COMMA')}+'원'"></p>
                        <div class="d-flex justify-content-center">
                            <a class="cursor-pointer border mr-1 p-1" th:onclick="'javascript:addCart(' + ${product.id} + ','+'1'+')'" th:text="장바구니"></a>
                            <a class="cursor-pointer border ml-1 p-1" th:href="@{/order/directorder(id=${product.id},amount=1)}" th:text="구매하기"></a>
                        </div>
                        <!--<small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>-->
                    </div>
                </div>
            </div>
            <div th:if="${#lists.isEmpty(products)}" class="d-flex justify-content-center w-100 p-3" style="min-height:200px;">
                <h5 class="mt-5">총 0건의 상품이 검색되었습니다</h5>
            </div>
        </div>
    </div>
</div>